*{ margin:0; padding:0;}
html,body{
    width:100%;
    background-color: rgb(255,255,255);
}
html{
    font-size: 62.5%;
}
header{
    background-color: rgb(95,192,205);
    overflow: hidden;
    position:fixed;
    left:0;
    right:0;
    top:0;
}
body{
    padding-top: 92px;
    padding-bottom: 166px;
}
.back{
    float:left;
    font-size: 3.2rem;
    font-family: "Heiti SC";
    color: rgb(255, 255, 255);
    background-color: rgb(95,192,205);
    border:none;
    outline:none;
}
h1{
    padding:30px;
    float:left;
    font-size: 3.6rem;
    font-family: "Heiti SC";
    color: rgb(255, 255, 255);
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
li{
    margin-left:56px;
    list-style: none;
    border-bottom: 1px solid #e1e5e7;
    display: flex;
    align-items: center;
}
li:first-child{
    width:100%;
    margin:0;
    background-image: url("背景.png");
    background-repeat: no-repeat;
    border-bottom:none;
    background-size: cover;
    overflow: hidden;
}
.head{
    padding:79px 33px;
    float:left;
}
.span_01{
    font-size: 3.2rem;
    font-family: "Heiti SC";
    color: rgb(51, 51, 51);
}
.span_02{
    font-size: 2.8rem;
    font-family: "Hiragino Sans GB";
    color: rgb(226, 97, 99);
}
span{
    font-size: 3.2rem;
    font-family: "Heiti SC";
    color: rgb(51, 51, 51);
    vertical-align: middle;
}
img{
    padding:28px;
    vertical-align: middle;
}
.img_01{
    padding:0 15px 0 28px;
}
.img_02{
    padding: 0 15px 0 0;
}
label{
    padding:35px 0 35px 4px;
    font-size: 3.2rem;
    font-family: "Heiti SC";
    color: rgb(153, 153, 153);
    vertical-align: middle;
    white-space:nowrap;
}
p{
    font-size: 3.2rem;
    margin-right: 30px;
    font-family: "Heiti SC";
    color: rgb(51, 51, 51);
    vertical-align: middle;
}
ul{
    border-bottom: 1px solid #e1e5e7;
}
li:last-child{
    border-bottom:none;
}
.footer{
    padding:24px;
    overflow: hidden;
    position:fixed;
    left:0;
    right:0;
    bottom:0;
}
.comments{
    float:left;
    padding:28px;
    margin: 13px;
    width: 40%;
    font-size: 3.4rem;
    line-height: 100%;
    font-family: "Hiragino Sans GB";
    color: rgb(95, 192, 205);
    background-color: rgb(255,255,255);
    border: 1px solid rgb(95, 192, 205);
    outline:none;
    border-radius:10px;
}
.contact{
    float:right;
    padding:28px;
    margin: 13px;
    width: 40%;
    font-size: 3.4rem;
    line-height: 100%;
    font-family: "Hiragino Sans GB";
    background-color: rgb(95,192,205);
    border: 1px solid rgb(95, 192, 205);
    outline:none;
    border-radius:10px;
}
.name{
    font-size: 3.6rem;
    margin:28px;
    font-family: "Heiti SC";
    color: rgb(255, 255, 255);
}
.old {
    font-size: 2.8rem;
    font-family: "Heiti SC";
    color: rgb(255, 255, 255);
}
.location{
    font-size: 2.4rem;
    font-family: "Heiti SC";
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 550px){
    html{
        font-size: 31.25%;
    }
    body{
        padding-top: 46px;
        padding-bottom: 84px;
    }
    h1{
        padding:15px;
    }
    li{
        margin-left:28px;
    }
    .head{
        padding:40px 17px;
        max-width: 30%;
        max-height: 30%;
    }
    img{
        padding:14px;
        max-width: 30%;
        max-height: 30%;
    }
    .img_01{
        padding:0 7px 0 14px;
        max-width: 30%;
        max-height: 30%;
    }
    .img_02{
        padding: 0 7px 0 0;
        max-width: 30%;
        max-height: 30%;
    }
    label{
        padding:17px 0 17px 2px;
    }
    p{
        margin-right: 15px;
    }
    .footer{
        padding:12px;
    }
    .comments{
        padding:14px;
        margin: 6px;
        width: 40%;
    }
    .contact{
        padding:14px;
        margin: 6px;
        width: 40%;
    }
    .name{
        margin:14px;
    }
}